<div>
<h3>Contact Forest Today: </h3>
<h4>Phone: <a href="tel:979-977-9925">979-977-6001</a><br>
    Fax: <a href="tel:979-888-9925">979-888-9925</a></h4>
<hr>
</div>
<div>
    <h3>Schedule a Call:
    <div class="home__button" style="padding-top: 30px"><a href="https://fmcpa.youcanbook.me/" class="button button--aggie" style="border-bottom: 2px solid #732F2F">Book Now</a>
        </div></h3>
</div>
<hr>
<div>
<h3>Send a Message:</h3>
<div class="contact-form">

	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

		<div class="contact-form__item">
			<label class="contact-form__label">Email Address *</label>
			<input type="text" name="email" placeholder="Your email address..." class="contact-form__input">
		</div>
        
		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Your name..." class="contact-form__input">
		</div>

        <div class="contact-form__item">
            <label class="contact-form__label">I need help with my...</label>
        
            <select id="taxIssue" name="taxIssue" class="contact-form__input">
                <option value="PersonalReturn">Personal Return</option>
                <option value="BusinessReturn">Business Return</option>
                <option value="TaxQuestion">Tax Question</option>
                <option value="OtherIssue">Other</option>
                
            </select>
        
            </div>
        
		<div class="contact-form__item">
			<label class="contact-form__label">Message *</label>
			<textarea name="message" placeholder="Your message..." class="contact-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>
        <div>
        <br>
    
        </div>
	</form>

</div>
    </div>